<header>
    <nav
      class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
    >
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/']"><img src="../../../assets/smilyseamine.jpg" height="42" width="42" /><b>  Classic MSweeper</b></a>
        <h5 style="color:green;">Time: <span style="color:rgb(36, 206, 36);">{{gameService.convertSecondstoDate(gameService.timeCounter)}}</span></h5>
        <span class="tab"></span>
        <h5 style="color:brown;">Left: <span style="color:rgb(92, 35, 35);">{{gameService.flagsLeft}}</span></h5>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target=".navbar-collapse"
          aria-label="Toggle navigation"
          [attr.aria-expanded]="isExpanded"
          (click)="toggle()"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
          [ngClass]="{ show: isExpanded }"
        >
          <ul class="navbar-nav flex-grow">
            <li class="nav-item"
                [routerLinkActive]="['link-active']"
                [routerLinkActiveOptions]="{ exact: true }">
              <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
            </li>
            <li><a class="nav-link text-dark" [routerLink]="['/']">About</a></li>
            <li><a class="nav-link text-dark" [routerLink]="['highscores']">Highscores</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  